<div class="container">
    <h2>Registro</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>#{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
            </tr>
        </tbody>
    </table>
</div>

