<div class="container">
    <h2>Login</h2>
    <form #loginform="ngForm" (ngSubmit)="login()">
        <small class="text-danger">{{msg}}</small>
        <div class="form-group">
            <label for="email">Email:</label>
            <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
                [(ngModel)]="user.email"
                #email="ngModel"
                required
                [class.is-invalid]="email.invalid && email.touched"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            />

            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">El email es necesario.</small>
                <small class="text-danger" *ngIf="email.errors.pattern">No es un formato de email valido.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" [(ngModel)]="user.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" />
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">La contraseña es necesaria.</small>
        </div>
        <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Entrar</button>
    </form>
</div>

