<div class="container">
    <h2>Registro</h2>
    <form #registrationForm="ngForm" (ngSubmit)="registerUser()">
        <small [ngClass]="error ? 'text-danger' : 'text-success'">{{msg}}</small>
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" placeholder="Introduce nombre" name="name" [(ngModel)]="user.name" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched" pattern="[a-zA-Z\s]+" />
            <div *ngIf="name.errors && (name.invalid && name.touched)">
                <small class="text-danger" *ngIf="name.errors.required">El nombre es necesario.</small>
                <small class="text-danger" *ngIf="name.errors.pattern">Sólo se aceptan letras.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="age">Edad:</label>
            <input type="number" class="form-control" id="age" placeholder="Introduce edad" name="age" [(ngModel)]="user.age" #age="ngModel" required [class.is-invalid]="age.invalid && age.touched" pattern="[0-9]+" />
            <div *ngIf="age.errors && (age.invalid && age.touched)">
                <small class="text-danger" *ngIf="age.errors.required">La edad es necesario.</small>
                <small class="text-danger" *ngIf="age.errors.pattern">Sólo se aceptan números.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
                [(ngModel)]="user.email"
                #email="ngModel"
                required
                [class.is-invalid]="email.invalid && email.touched"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            />
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">El email es necesario.</small>
                <small class="text-danger" *ngIf="email.errors.pattern">No es un formato de email valido.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" [(ngModel)]="user.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" />
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">La contraseña es necesaria.</small>
        </div>
        <button [disabled]="registrationForm.form.invalid" type="submit" class="btn btn-info">Registrar</button>
    </form>
</div>
